<html>
<script type="text/javascript" src="{{url_for('static', filename='jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="../static/style.css">
<script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "red",
        y = 8;

    function init() {
        canvas = document.getElementById('can');
        document.getElementById("probs").style.display = "none";
        document.getElementById("interpret").style.display = "none";
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }


    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }

    function erase() {
        ctx.clearRect(0, 0, w, h);
        document.getElementById("canvasimg").style.display = "none";
        document.getElementById("prediction").style.display = "none";
        document.getElementById("probs").style.display = "none";
        document.getElementById("interpret").style.display = "none";
        b = document.getElementsByTagName("body")[0];
        b.querySelectorAll('a').forEach(n => n.remove());
    }

    function save() {
        document.getElementById("prediction").style.display = "block";
        document.getElementById("probs").style.display = "block";
        document.getElementById("interpret").style.display = "block";
        var final_image = canvas.toDataURL();
        var a = document.createElement('a');
        a.href = final_image;
        a.download = 'process.png';
        document.body.appendChild(a);
        // a.click();
        $.ajax({
            url: "{{ url_for('process') }}",
            type: 'POST',
            data: final_image,
            success: function (response) {
                endresult = JSON.parse(JSON.stringify(response))
                console.log(endresult)
                $('#prediction').html('Kết quả dự đoán là: <span id="text">' + endresult.data + '</span>')
                $('#probs').prop('src', 'data:image/png;base64,' + endresult.probencoded)
                $('#interpret').prop('src', 'data:image/png;base64,' + endresult.interpretencoded)
            }
        });
        console.log("conc")
    }

    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
</script>

<head>
    <title>AI Project</title>
    

</head>

<body onload="init()">
    <header>
        <div>Chương trình nhận dạng chữ số viết tay sử dụng <span>PyTorch CNN</span></div>
    </header>
    <main>
        <section>
            <div>
                <p> Vẽ chữ số ở giữa ô vuông.... </p>
            </div>
            <canvas id="can" width="200px" height="200px" style="margin-left: 50%; border: 3px solid green"></canvas>
            <img id="canvasimg" style="background-color:blue">
            <div class="buttons">
                <button type="button" onclick="save()">Dự đoán</button>
                <button type="button" onclick="erase()">Xóa</button>
            </div>
            <div><h3 id="prediction"></h3></div>
            
        </section>
        <article>
            <img id="probs" src="" alt="">
            <img id="interpret" src="" alt="">
        </article>
        <aside>
            <div>
                <img src="https://cdn.haitrieu.com/wp-content/uploads/2021/09/Logo-DH-Su-Pham-Ky-Thuat-TP-Ho-Chi-Minh-HCMUTE.png"
                    alt="">
                <p>Nguyễn Đình Duy - 20110453 </p>
                <p>Võ Quang Hưng - 20110057 </p>
            </div>
        </aside>
    </main>

</body>

</html>